{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      },
      "@babel/preset-react"
    ]
  ],
  "env": {
    "debug": {
      "sourceMaps": "inline",
      "retainLines": true
    },
    "production": {
      "plugins": [
        [
          "babel-plugin-root-import",
          {
            "rootPathSuffix": "./",
            "rootPathPrefix": "~/"
          }
        ]
      ]
    }
  },
  "plugins": [
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "./"
      }
    ]
  ]
}
